@import "variables";
@import "donate";
@import "header";
@import "footer";


$mainColor: #3D728E;

body {
  margin:0;
  padding:0;
  color:#484D60;
  line-height: 1.6;
  font-size:18px;
  font-family: Roboto, sans-serif;
}


.desk {
  display:block;
  @media(max-width:800px) and (orientation:portrait){
    display:none;
  }
}

.mob {
  display:none;
  @media(max-width:800px) and (orientation:portrait){
    display:block;
  }
}

/*  ---- header ----- */

header {
  background-color: black;
  display:grid;
  grid-template-columns: 43% 40% auto;
  margin-bottom: 100px;
  @media(max-width:800px) and (orientation:portrait){
    margin-bottom: 30px;
  }
  @media(max-width:1200px){
    grid-template-columns: 35% 50% auto;
  }

  img {
    width:100%;
    grid-column: 1/-1;
    grid-row:1/2;
    opacity:0.5;
    @media(max-width:800px) and (orientation:portrait){
      opacity:1;
    }
  }


  #titleContainer {
    z-index: 1000000;
    grid-column: 2/3;
    grid-row:1/2;
    display:flex;
    flex-direction: column;
  }

  #titleDesk, #titleMob, #subtitle {
    width:100%;
    line-height: 1.5;
    color:white;
  }
}

h1#titleDesk, h1#titleMob {
    margin: auto 100px 0 auto;
    font-size:40pt;
    @media(max-width:800px){
      font-size:28pt;
    }
    @media(max-width:1200px){
      font-size:35pt;
    }

  }

  h1#subtitle {
    margin: 0 100px auto auto;
    font-size:30pt;
    @media(max-width:800px){
      font-size:20pt;
    }
    @media(max-width:1200px){
      font-size:25pt;
    }

  }





/* ---------- main ------------------ */
h2 {
  margin-top:100px;
}

  .sliderContainer {
    position:relative;
  }

  .misprintWrapper {
    width:calc(100vw - 120px);
    margin:0 auto 100px auto;
    overflow: hidden;
    position:relative;
  }

  #prev-btn,
  #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: calc(50vh - 25px);
  }

  #prev-btn-ap,
  #next-btn-ap {
    position: absolute;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    top: calc(50% - 25px);
  }

  #prev-btn:hover,
  #next-btn:hover,
  #prev-btn-ap:hover,
  #next-btn-ap:hover {
    cursor: pointer;
  }

  #prev-btn,
  #prev-btn-ap {
    left: 5px;
  }

  #next-btn,
  #next-btn-ap {
    right: 5px;
  }


  .content.hideElem {
    pointer-events: none;
  }


  #MisprintButtons {
    width:90%;
    margin:0 5%;
    display:grid;
    grid-template-columns: repeat(37, 250px);
    grid-gap: 20px;
  }

  div.column {
    border-right: 1px solid lightgrey;
    height:80vh;
    overflow-y: auto;
    @media(max-width:800px){
      margin-left:10px;
    }
  }

  div.column-mob {
    margin-left:10%;
  }

  #ap_MisprintButtons {
    width:90%;
    margin:0 5%;
    display:grid;
    grid-template-columns: repeat(7, 250px);
    grid-gap: 20px;
  }


  .textContent {
    width: 45%;
    margin: auto;
    font-size: 20px;
    @media(max-width:800px){
      width:90%;
    }
  }

  #text {
    font-weight: bold;
  }


  .misprint {
    padding:2px;
    font-family: 'Bad Script', cursive;
    font-weight:bold;
    font-size:25px;
  }

  .collapsible {
    font-family: 'Bad Script', cursive;
    font-weight:bold;
    font-size:25px;
    color: green;
    margin-bottom:5px;
    cursor: pointer;
    padding: 10px 0;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
  }


  .hideElem {
    display:none;
  }

  .misprintCases {
    margin:0;
    font-family: 'Bad Script', cursive;
    font-weight:bold;
    font-size:25px;
  }

  .strike {
    position: relative;
    display: inline-block;
  }

  .strike::before {
    content: '';
    border-bottom: 3px solid red;
    width: 100%;
    position: absolute;
    right: 0;
    top: 80%;
  }

  .withpadding {
    padding: 0 0.15em;
  }

